/.idea
.idea
/.idea/
.idea/
/.obsidian/workspace.json
/.obsidian/appearance.json
.obsidian/appearance.json
.obsidian/graph.json
/.obsidian/graph.json
.obsidian/plugins/digitalgarden/data.json
/.obsidian/plugins/digitalgarden/data.json
/.trash
/.trash/
.trash
.trash/
.trash
error-log-gdrive-plugin.md
*.json
/*.json
workspace.json
appearance.json
graph.json